extends layout

block content
  - var ticketData = dData;
  - var id= tId
  h1#title= title
  - var count =0;  
  - for(var i=0;i<ticketData.tickets.length; i++)
    - count= i+1
    if(id==ticketData.tickets[i].id)
      div#details
        p Requester ID: 
          a #{ticketData.tickets[i].assignee_id} 
        p Ticket Subject:       
          a #{ticketData.tickets[i].subject}
        p Ticket Description:     
          a #{ticketData.tickets[i].description}
        p Priority: 
          a #{ticketData.tickets[i].priority}
        p status: 
          a #{ticketData.tickets[i].status}
  button(class='backbtn') back to list
    







