extends layout

block content

  //getting ticket data from servside javascript. 
  - var tickets = data;
  h1#title= title

  //creating links for pages, determened on how many tickets there are 
  div#pages
    div#links
      if(tickets.tickets.length>25) 
        a(class='p1', id='pagea') Page 1
        a(class='p2', id='pagea') Page 2 
      if(tickets.tickets.length>50)
        a(class='p3', id='pagea') Page 3 
      if(tickets.tickets.length>75)
        a(class='p4', id='pagea') Page 4 
  
  // creating the sticky header to be used when scrolling
  // default is hidden, until scrolled down and activated
  div#sticky(style="display:none")
    table#table1
        tr#list
          th(style='width: 80px') ID
          th(style='width: 450px') Subject 
          th(style='width: 85px') Type 
          th(style='width: 85px') Status   
  
  // each page given its own table, table 1 viewed as default
  div#page1
    table#table1
      tr#list
        th(style='width: 80px') ID
        th(style='width: 450px') Subject 
        th(style='width: 85px') Type
        th(style='width: 85px') Status
        // jade for and if loops used to load data into tables
        - for(var i=0;i<25; i++)
          if(typeof tickets.tickets[i] !=='undefined')
            tr(class ='btn' id=tickets.tickets[i].id)
              td
                a #{tickets.tickets[i].id} 
              td
                a #{tickets.tickets[i].subject}
              td 
                a #{tickets.tickets[i].type}
              td 
                a #{tickets.tickets[i].status}
              
                

  // page 2 of table, only viewed if clicked on page 2
  div#page2(style="display:none")
    table#table2
      tr#list
        th(style='width: 80px') ID
        th(style='width: 450px') Subject 
        th(style='width: 85px') Type
        th(style='width: 85px') Status
        - for(var i=25;i<50; i++)
          if(typeof tickets.tickets[i] !=='undefined')
            tr(class ='btn',id=tickets.tickets[i].id)
              td
                a #{tickets.tickets[i].id} 
              td
                a #{tickets.tickets[i].subject}
              td 
                a #{tickets.tickets[i].type}
              td 
                a #{tickets.tickets[i].status}


  // page 3 of table, only viewed if clicked on page 2
  div#page3(style="display:none")
    table#table3
      tr #{ticketNo}
        th(style='width: 80px') ID
        th(style='width: 450px') Subject 
        th(style='width: 85px') Type
        th(style='width: 85px') Status 
        - for(var i=50;i<75; i++)
          if(typeof tickets.tickets[i] !=='undefined')
            tr(class ='btn',id=tickets.tickets[i].id)
              td
                a #{tickets.tickets[i].id} 
              td
                a #{tickets.tickets[i].subject}
              td 
                a #{tickets.tickets[i].type}
              td 
                a #{tickets.tickets[i].status}


  // page 4 of table, only viewed if clicked on page 2
  div#page4(style="display:none")
    table#table4
      tr#list
        th(style='width: 80px') ID
        th(style='width: 450px') Subject 
        th(style='width: 85px') Type
        th(style='width: 85px') Status 
        - for(var i=75;i<100; i++)
          if(typeof tickets.tickets[i] !=='undefined')
            tr(class ='btn', id=tickets.tickets[i].id)
              td
                a #{tickets.tickets[i].id} 
              td
                a #{tickets.tickets[i].subject}
              td 
                a #{tickets.tickets[i].type}
              td 
                a #{tickets.tickets[i].status}


  
  div#pages
    div#links
      if(tickets.tickets.length>25) 
        a(class='p1', id='pagea') Page 1
        a(class='p2', id='pagea') Page 2 
      if(tickets.tickets.length>50)
        a(class='p3', id='pagea') Page 3 
      if(tickets.tickets.length>75)
        a(class='p4', id='pagea') Page 4  
        
        



